

.ftrH {
    background: rgb(173, 175, 175);
    padding: 10px;
    border-radius: 5px;
}

.container-fluid.footerBottom {
    height: 25px;
    background:rgb(173, 175, 175);
    border-radius: 5px;
}

.btmftr> p, address{
    margin-left: 20px;
}

.trainingH{
    padding: 10px;
}

.footer{
    background-color:rgb(199, 199, 199);
    padding: 10px;
}